body {
          font-family: Arial, sans-serif;
          background-color: #ffd2da;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100vh;
          margin: 0;
        }

        form {
          background-color: white;
          padding: 30px;
          border-radius: 8px;
          box-shadow: 0 2px 10px rgba(159, 0, 0, 0.1);
          width: 400px;
        }

        h2 {
          text-align: center;
          color: #333;
          margin-bottom: 20px;
        }

        input[type="text"],
        input[type="email"],
        input[type="password"] {
          width: 100%;
          padding: 10px;
          margin-bottom: 15px;
          border: 1px solid #ccc;
          border-radius: 20px;
          box-sizing: border-box;
          color: deeppink ;
        }

        .submit-btn {
            background: linear-gradient(to right, #ffb8dc, #ff9a9d);
            color: white;
            border: none;
            padding: 12px 24px;
            font-size: 16px;
            border-radius: 20px;
            cursor: pointer;
            width: 100%;
            transition: background 0.3s ease;
        }

        .submit-btn:hover {
            background: linear-gradient(to right, #ff9ccc, #ff7676);
        }