 body {
     background-color: #ffdbdb;
     display: flex;
    justify-content: center;
    align-items: center;
}

        .main {
            text-align: center;
            padding: 40px;
            background-color: #ffefef;
            border-radius: 10px;
            box-shadow: 0 10px 10px rgba(147, 0, 0, 0.1);
            display: flex;
            flex-direction: column;
            align-items: center;
            color: #333;
            width: 400px;
            margin-top: 20px;
        }

        .profile-avatar {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            object-fit: cover;
            margin-bottom: 20px;
        }

        h2 {
            margin: 0;
            font-size: 1.8em;
            color: #ff69b4;
        }

        #nickname {
            color: #aaa;
            font-size: 1.2em;
            margin: 5px 0;
        }

        #description {
            color: #333;
            font-size: 1.1em;
            margin: 10px 0;
        }

        .btn {
            width: 100%;
            padding: 12px 20px;

            display: inline-block;
            text-align: center;
            font-size: 16px;
            font-weight: bold;
            text-decoration: none;
            color: white;
            border-radius: 20px;
            transition: background-color 0.3s, color 0.3s;
            max-width: 250px;
        }
        .btn-outline-info{
            margin-bottom: 15px;
        }


        .btn-outline-info {
            background: linear-gradient(to right, #ffd0e4, #ff9a9d);
            border: 0px;
            color: white;
            cursor: pointer;
            transition: background 0.3s ease;
        }

        .btn-outline-info:hover {
            background: linear-gradient(to right, #ffa7d5, #ff9194);
        }

        .profile-content {
            margin-top: 20px;
            text-align: left;
        }

        .profile-content h3 {
            color: #ff69b4;
            font-size: 1.5em;
            border-bottom: 2px solid #ff69b4;
            padding-bottom: 10px;
            text-align: center;
        }
        p{
            margin: 0;
        }
        .profile-header p{
            margin-bottom: 10px;
        }
        .name{
            font-size: 34px;
        }
        .username{
            font-size: 20px;
            color: #b8a6aa;
            font-weight: bold;
        }
        .profile-actions{
            margin: 20px 0;
        }
        h1{
            color: #ff69b4
        }